@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animate-shake {
    animation: shake 0.3s infinite;
}

@keyframes progress-indeterminate {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-progress-indeterminate {
    animation: progress-indeterminate 1.5s infinite linear;
}

@keyframes wave {

    0%,
    100% {
        height: 10px;
    }

    50% {
        height: 30px;
    }
}

.animate-wave {
    animation: wave 1s ease-in-out infinite;
}

/* Transitions */
.animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}